@model Student

@{
    ViewData["Title"] = "Edit Employee";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrEmpty(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
}
<form action="Edit" method="post" autocomplete="off">
    <div class="mb-3" hidden>
        <input type="text" class="form-control" asp-for="Id" />
    </div>
    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="tel" class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
