@{
    ViewData["Title"] = "Home Page";
}
<div class="page-container">
    <!-- Page Sidebar -->
    <div class="page-sidebar">
        <a class="logo-box" href="/">
            <div>
                <img src="https://lms.tuit.uz/assets/images/logo-md.png" alt="" height="40">
                <span>Muhammad al-Xorazmiy nomidagi Toshkent Axborot Texnologiyalari Universiteti</span>
            </div>
            <i class="icon-radio_button_checked" id="fixed-sidebar-toggle-button"></i>
            <i class="icon-close" id="sidebar-toggle-button-close"></i>
        </a>
        <div class="slimScrollDiv mm-active" style="position: relative; overflow: hidden; width: auto; height: 637.2px;">
            <div class="page-sidebar-inner mm-show" style="overflow: hidden; width: auto; height: 637.2px;">
                <div class="page-sidebar-menu mm-active" id="sidebar-menu">
                    <ul class="accordion-menu metismenu mm-show" id="side-menu">
                        <li>
                            <a href="https://lms.tuit.uz/dashboard/news">
                                <i class="menu-icon fa fa-dashboard"></i><span>Dashboard</span>
                            </a>
                        </li>

                        <li class="menu-divider"></li>

                        <li>
                            <div class="page-sidebar__title">Talaba</div>
                        </li>
                        <li>

                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/student/subject">
                                <i class="menu-icon fa fa-book"></i>
                                <span>Fan tanlov</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/student/my-courses">
                                <i class="menu-icon icon-study"></i>
                                <span>Mening fanlarim</span>
                            </a>
                        </li>
                        <li class="mm-active">
                            <a href="https://lms.tuit.uz/student/schedule" class="active">
                                <i class="menu-icon fa fa-calendar"></i>
                                <span>Dars jadvali</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/student/retake">
                                <i class="menu-icon fa fa-calculator"></i>
                                <span>Qayta o’qish</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/student/finals">
                                <i class="menu-icon fa fa-question-circle"></i>
                                <span>Yakuniy</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/student/study-plan">
                                <i class="menu-icon fa fa-file-text-o"></i>
                                <span>Individual shaxsiy reja</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/student/info">
                                <i class="menu-icon fa fa-info-circle"></i>
                                <span>Ma'lumot</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://lms.tuit.uz/dashboard/survey">
                                <i class="menu-icon fa fa-bar-chart"></i>
                                <span>So’rovnoma</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:void(0);">
                                <i class="menu-icon fa fa-cogs"></i><span>Talaba xizmatlari</span><i class="accordion-icon fa fa-angle-right"></i>
                            </a>
                            <ul class="submenu mm-collapse">
                                <li><a href="https://lms.tuit.uz/student/certificate">Ma'lumotnoma</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="https://lms.tuit.uz/student/diploma-work">
                                <i class="menu-icon fa fa-graduation-cap"></i>
                                <span>Diplom ishi</span>
                            </a>
                        </li>





                    </ul>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 5px; position: absolute; top: 0px; opacity: 0.2; display: none; border-radius: 0px; z-index: 99; right: 0px; height: 637.4px; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor: #383c3e;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor: #282c2d;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div>
        </div>
    </div><!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        <div class="page-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="logo-sm">
                            <a href="javascript:void(0)" id="sidebar-toggle-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg></a>
                            <a class="logo-box" href="https://lms.tuit.uz">
                                <span></span>
                            </a>
                        </div>


                        <ul class="nav navbar-nav navbar-none">
                            <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button" style="padding-top: 18px; margin-left:0"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg></a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <p href="#" class="text-right text-blue server-time">
                                    <span>Server vaqti</span><br>
                                    <strong>02.12.2023 |  15:37</strong>
                                </p>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell-o navbar-icon notification-bell"></i>
                                    <span class="notification-count">2</span>
                                </a>
                                <ul class="dropdown-menu dropdown-lg dropdown-content">
                                    <li class="drop-title">Xabarnomalar</li>
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                    <li class="slimscroll dropdown-notifications" style="overflow: hidden; width: auto; height: 250px;">
                                        <ul class="list-unstyled dropdown-oc">
                                            <li>
                                                <a href="https://lms.tuit.uz/student/my-courses/show/14644">
                                                    <span class="notification-badge bg-primary m-r-xs"><i class="fa fa-file-o"></i></span>
                                                    <span class="notification-info">
                                                        <p class="breadcrumb m-b-xxs"><b class="text-info">5-amaliy ish topshirig'i (Ma‘lumotlar tuzilmasi va algoritmlar)</b></p>
                                                        Muddatgacha 2 kun qoldi
                                                        <br>
                                                        <small class="notification-date"><b>04-12-23 23:59:59</b></small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://lms.tuit.uz/student/my-courses/show/14606">
                                                    <span class="notification-badge bg-primary m-r-xs"><i class="fa fa-file-o"></i></span>
                                                    <span class="notification-info">
                                                        <p class="breadcrumb m-b-xxs"><b class="text-info">3-topshiriq (Kiberxavfsizlik asoslari)</b></p>
                                                        Muddatgacha 2 kun qoldi
                                                        <br>
                                                        <small class="notification-date"><b>04-12-23 23:59:59</b></small>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <div class="slimScrollBar" style="background: rgb(204, 204, 204); width: 6px; position: absolute; top: 0px; opacity: 0.2; display: block; border-radius: 0px; z-index: 99; right: 0px; height: 227.201px; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor: #383c3e;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div>
                                    <div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px; --darkreader-inline-bgimage: initial; --darkreader-inline-bgcolor: #282c2d;" data-darkreader-inline-bgimage="" data-darkreader-inline-bgcolor=""></div>
                    </div>
                    </ul>
                    </li>
                    <li>
                        <a class="text-blue" href="https://lms.tuit.uz/dashboard/video-instruction">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle dropdown-float" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="31" height="31" x="0" y="0" viewBox="0 0 460.8 460.8" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            <g>
                            <path d="M230.432,0c-65.829,0-119.641,53.812-119.641,119.641s53.812,119.641,119.641,119.641s119.641-53.812,119.641-119.641    S296.261,0,230.432,0z" fill="#1d2d5b" data-original="#000000" style="--darkreader-inline-fill: #aac9ec;" class="" data-darkreader-inline-fill=""></path>
                                                </g>
                                            </g>
                            <g xmlns="http://www.w3.org/2000/svg">
                            <g>
                            <path d="M435.755,334.89c-3.135-7.837-7.314-15.151-12.016-21.943c-24.033-35.527-61.126-59.037-102.922-64.784    c-5.224-0.522-10.971,0.522-15.151,3.657c-21.943,16.196-48.065,24.555-75.233,24.555s-53.29-8.359-75.233-24.555    c-4.18-3.135-9.927-4.702-15.151-3.657c-41.796,5.747-79.412,29.257-102.922,64.784c-4.702,6.792-8.882,14.629-12.016,21.943    c-1.567,3.135-1.045,6.792,0.522,9.927c4.18,7.314,9.404,14.629,14.106,20.898c7.314,9.927,15.151,18.808,24.033,27.167    c7.314,7.314,15.673,14.106,24.033,20.898c41.273,30.825,90.906,47.02,142.106,47.02s100.833-16.196,142.106-47.02    c8.359-6.269,16.718-13.584,24.033-20.898c8.359-8.359,16.718-17.241,24.033-27.167c5.224-6.792,9.927-13.584,14.106-20.898    C436.8,341.682,437.322,338.024,435.755,334.89z" fill="#1d2d5b" data-original="#000000" style="--darkreader-inline-fill: #aac9ec;" class="" data-darkreader-inline-fill=""></path>
                                                </g>
                                            </g>
                                           </g></svg>
                        </a>
                        <ul class="dropdown-menu dropdown-content">
                            <li>
                                <div style="padding: 13px 10px; background-color: rgb(29, 45, 91); color: rgb(255, 255, 255); --darkreader-inline-bgcolor: #18264d; --darkreader-inline-color: #f4f2ee;" data-darkreader-inline-bgcolor="" data-darkreader-inline-color="">
                                    Qodirov Muhammadali
                                </div>
                            </li>
                            <li><a href="https://lms.tuit.uz/profile/password"><i class="fa fa-cog"></i>Profil sozlamalari</a></li>
                            <li><a href="https://lms.tuit.uz/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class="fa fa-sign-out"></i>Chiqish</a></li>
                            <form id="logout-form" action="https://lms.tuit.uz/logout" method="POST" style="display: none;"><input type="hidden" name="_token" value="Pk4csNwh2GRNfhTIavGRL6WfbNxZoYyz3YFQuVJI"></form>
                        </ul>
                    </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
    </div><!-- /Page Header -->
    <!-- Page Inner -->
    <div class="page-inner">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h3 class="breadcrumb-header">Dars jadvali</h3>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <form class="form-inline m-b-sm js-datatable-extra-filter m-t-md">
                    <div class="form-group">
                        <select name="semester_id" class="form-control js-semester">
                            <option value="37">
                                2023-2024
                                Birinchi semestr
                            </option>
                            <option value="35">
                                2022-2023
                                Ikkinchi semestr uchun qayta o`qish (2)
                            </option>
                            <option value="31">
                                2022-2023
                                Ikkinchi semestr
                            </option>
                            <option value="30">
                                2022-2023
                                Birinchi semestr uchun qayta o`qish
                            </option>
                            <option value="27">
                                2022-2023
                                Birinchi semestr
                            </option>
                        </select>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-12 js-schedule">
                <div class="card stud-calendar">
                    <div id="calendar" class="fc fc-unthemed fc-ltr"><div class="fc-toolbar"><div class="fc-left"></div><div class="fc-right"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div></div><div class="fc-center"><div class="fc-button-group"><button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-left">Kun</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default fc-corner-right fc-state-active">Hafta</button></div></div><div class="fc-clear"></div></div><div class="fc-view-container" style=""><div class="fc-view fc-agendaWeek-view fc-agenda-view" style=""><table><thead class="fc-head"><tr><td class="fc-head-container fc-widget-header"><div class="fc-row fc-widget-header" style="border-right-width: 1px; margin-right: -0.599976px;"><table><thead><tr><th class="fc-axis fc-widget-header" style="width: 36.7px;"></th><th class="fc-day-header fc-widget-header fc-mon" data-date="2023-11-27">dush 27/11</th><th class="fc-day-header fc-widget-header fc-tue" data-date="2023-11-28">sesh 28/11</th><th class="fc-day-header fc-widget-header fc-wed" data-date="2023-11-29">chor 29/11</th><th class="fc-day-header fc-widget-header fc-thu" data-date="2023-11-30">pay 30/11</th><th class="fc-day-header fc-widget-header fc-fri" data-date="2023-12-01">ju 1/12</th><th class="fc-day-header fc-widget-header fc-sat" data-date="2023-12-02">sha 2/12</th></tr></thead></table></div></td></tr></thead><tbody class="fc-body"><tr><td class="fc-widget-content"><div class="fc-scroller fc-time-grid-container" style="overflow: hidden scroll; height: 994.6px;"><div class="fc-time-grid fc-unselectable"><div class="fc-bg"><table><tbody><tr><td class="fc-axis fc-widget-content" style="width: 36.7px;"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2023-11-27"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2023-11-28"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2023-11-29"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2023-11-30"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2023-12-01"></td><td class="fc-day fc-widget-content fc-sat fc-today fc-state-highlight" data-date="2023-12-02"></td></tr></tbody></table></div><div class="fc-slats"><table><tbody><tr data-time="08:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>08:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="08:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="08:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="09:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>09:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="09:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="09:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="10:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>10:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="10:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="10:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="11:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>11:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="11:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="11:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="12:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>12:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="12:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="12:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="13:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>13:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="13:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="13:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="14:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>14:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="14:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="14:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="15:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>15:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="15:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="15:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="16:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>16:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="16:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="16:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="17:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>17:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="17:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="17:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="18:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>18:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="18:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="18:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="19:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>19:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="19:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="19:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="20:00:00"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"><span>20:00</span></td><td class="fc-widget-content"></td></tr><tr data-time="20:20:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr><tr data-time="20:40:00" class="fc-minor"><td class="fc-axis fc-time fc-widget-content" style="width: 36.7px;"></td><td class="fc-widget-content"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><tbody><tr><td class="fc-axis" style="width: 36.7px;"></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-teal" style="inset: 32.3px 0% -130.4px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="08:30" data-full="08:30"><span>08:30</span></div><div class="fc-title">(A-320)<br>Diskret tuzilmalar-MTH014</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-danger" style="inset: 130.4px 0% -228.5px 110px; z-index: 1; margin-right: 20px; width: 100px;"><div class="fc-content"><div class="fc-time" data-start="10:00" data-full="10:00"><span>10:00</span></div><div class="fc-title">(B-209)<br>Ma‘lumotlar bazasi-DBM004</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-brown" style="inset: 130.4px 0% -228.5px 0px; z-index: 2; width: 100px;"><div class="fc-content"><div class="fc-time" data-start="10:00" data-full="10:00"><span>10:00</span></div><div class="fc-title">(B-209)<br>Ma‘lumotlar tuzilmasi va algoritmlar-SWD014</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-success" style="inset: 228.5px 0% -326.6px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="11:30" data-full="11:30"><span>11:30</span></div><div class="fc-title">(D-302A)<br>Kiberxavfsizlik asoslari-CSF014-1</div></div><div class="fc-bg"></div></a></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-success" style="inset: 130.4px 0% -228.5px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="10:00" data-full="10:00"><span>10:00</span></div><div class="fc-title">(B-209)<br>Kiberxavfsizlik asoslari-CSF014</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-danger" style="inset: 228.5px 0% -326.6px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="11:30" data-full="11:30"><span>11:30</span></div><div class="fc-title">(E-312)<br>Ma‘lumotlar bazasi-DBM004</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-brown" style="inset: 359.3px 0% -457.4px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="13:30" data-full="13:30"><span>13:30</span></div><div class="fc-title">(D-302A)<br>Ma‘lumotlar tuzilmasi va algoritmlar-SWD014-1</div></div><div class="fc-bg"></div></a></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-warning" style="inset: 32.3px 0% -130.4px 0px; z-index: 1; width: 100px;"><div class="fc-content"><div class="fc-time" data-start="08:30" data-full="08:30"><span>08:30</span></div><div class="fc-title">(B/-209)<br>Kiberxavfsizlik asoslari/-CSF014/</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-brown" style="inset: 130.4px 0% -228.5px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="10:00" data-full="10:00"><span>10:00</span></div><div class="fc-title">(B-209)<br>Ma‘lumotlar tuzilmasi va algoritmlar-SWD014</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-primary" style="inset: 228.5px 0% -326.6px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="11:30" data-full="11:30"><span>11:30</span></div><div class="fc-title">(A-323)<br>Elektronika va sxemalar 1-CAE014-L1</div></div><div class="fc-bg"></div></a></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-primary" style="inset: 228.5px 0% -326.6px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="11:30" data-full="11:30"><span>11:30</span></div><div class="fc-title">(E-310)<br>Elektronika va sxemalar 1-CAE014</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-teal" style="inset: 359.3px 0% -457.4px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="13:30" data-full="13:30"><span>13:30</span></div><div class="fc-title">(D-304)<br>Diskret tuzilmalar-MTH014-1</div></div><div class="fc-bg"></div></a></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td><td><div class="fc-content-col"><div class="fc-event-container fc-helper-container"></div><div class="fc-event-container"><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-danger" style="inset: 130.4px 0% -228.5px; z-index: 1; width: 208px;"><div class="fc-content"><div class="fc-time" data-start="10:00" data-full="10:00"><span>10:00</span></div><div class="fc-title">(D-304)<br>Ma‘lumotlar bazasi-DBM004-1</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-teal" style="inset: 228.5px 0% -326.6px 110px; z-index: 1; margin-right: 20px; width: 100px;"><div class="fc-content"><div class="fc-time" data-start="11:30" data-full="11:30"><span>11:30</span></div><div class="fc-title">(A-01)<br>Diskret tuzilmalar-MTH014</div></div><div class="fc-bg"></div></a><a class="fc-time-grid-event fc-v-event fc-event fc-start fc-end bg-primary" style="inset: 228.5px 0% -326.6px 0px; z-index: 2; width: 100px;"><div class="fc-content"><div class="fc-time" data-start="11:30" data-full="11:30"><span>11:30</span></div><div class="fc-title">(A-403)<br>Elektronika va sxemalar 1-CAE014</div></div><div class="fc-bg"></div></a></div><div class="fc-highlight-container"></div><div class="fc-bgevent-container"></div><div class="fc-business-container"></div></div></td></tr></tbody></table></div><hr class="fc-divider fc-widget-header" style=""></div></div></td></tr></tbody></table></div></div></div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="row">

                <div class="col-xs-12 text-right">
                    <a href="https://t.me/joinchat/AAAAAE3uzCvQS5qsLRawWw" target="_blank"><i class="fa fa-telegram f-s-20" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- /Page Inner -->
            </div>
